<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{welcome}"></title>
</head>
<body>
<span th:text="#{login}"></span><br>
<span th:text="#{welcome}"></span><br>
<br>

<button type="button" th:text="#{switch-en}"
        onclick="window.location.href='http://localhost:8080/home?lang=en'"></button>
<button type="button" th:text="#{switch-ar}"
        onclick="window.location.href='http://localhost:8080/home?lang=ar'"></button>
<button type="button" th:text="#{switch-fr}"
        onclick="window.location.href='http://localhost:8080/home?lang=fr'"></button>
</body>
</html>